:root {
    --primary-white: #e2e2e2;
    --primary-black: #2d2d2d;
    --orange1: #ffc515;
    --red3: #cf1f3e;
    --blue1: #69cdec;
    --blue2: #3a91cf;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles and utility classes */
body {
    /*font-size: 22px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--primary-white);
    color: var(--primary-black);
}

/* styles for the header */
header {
    background-color: var(--primary-black);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    width: 40%;
    font-size: 3vw;
    font-weight: normal;
    background-color: var(--primary-white);
    margin: 0;
    padding: 5px 15px 5px 70px;
    box-shadow: 1px 1px 2px var(--primary-white);
    border-top-right-radius: 10px;
}

header a {
    text-decoration: none;
    color: var(--primary-white);
}

header h1 a {
    color: var(--primary-black);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-size: 1.6vw;
    font-weight: lighter;
    margin: 0 30px;
    padding: 10px 15px;
    border-bottom: 3px solid var(--primary-white);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

header nav ul li a:hover {
    border-bottom-color: var(--red3);
    text-shadow: 1px 1px 2px var(--primary-white);
}

/* styles for the footer */
footer {
    background-color: var(--primary-black);
    color: var(--primary-white);
    width: 100%;
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-weight: lighter;
    font-size: 2vw;
    margin-bottom: 5px;
}

footer div {
    line-height: 1.5;
    font-size: 1vw;
}

/* styles for the hero */
.hero {
    background-image: url("../images/bg_microchip.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.greeting {
    /*background: var(--primary-black);*/
    border: 1px solid var(--primary-white);
    box-shadow: 1px 1px 20px black;
}

.greeting-img {
    background-image: url(../images/pic_sandrine.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    min-width: 320px;
    display: flex;
    align-items: flex-end;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.greeting-img::before {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(45, 45, 45, 0.4));
    position: absolute;
    top: 0;
    left: 0;
}

.greeting-img::after {
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), var(--primary-black));
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
}

.greeting-img h1 {
    font-size: 4vw;
    font-weight: normal;
    color: var(--red3);
    text-shadow: 1px 1px 2px white;
    z-index: 1000;
    position: relative;
    top: 200px;
    transition: 0.6s;
}

.greeting:hover .greeting-img::after{
    opacity: 1;
}

.greeting:hover .greeting-img h1 {
    transform: translate(0, -200px);
}

.hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.hero-title-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.hero-title h3 {
    width: 550px;
    text-align: right;
    font-size: 4vw;
    font-weight: normal;
    padding-right: 10px;
    background-color: rgba(45, 45, 45, 0.8);
    text-shadow: 1px 1px 2px white;
    box-shadow: 1px 5px 10px black;
}

.hero-title-2 h3 {
    margin-top: 30px;
}

#webdev {
    color: var(--orange1);
    transition: 1s;
}

#datanal {
    color: var(--blue1);
    transition: 2s;
}

#and {
    color: var(--primary-white);
    transition: 0.1s;
    margin-right: 15px;
}

#viz {
    color: var(--blue2);
    transition: 2s;
}

/* styles for the "About Me" section */
main section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.section-title {
    margin: 20px;
    width: 15%;
}

.section-title h2 {
    width: 100%;
    font-size: 4vw;
    line-height:1;
    font-weight: lighter;
    text-align: right;
}

.section-content {
    border-left: 3px solid;
    border-color: var(--primary-black);
    padding: 0 30px;
    flex: 10;
    font-size: 2vw;
}

/* styles for the "Portfolio" section */
.portfolio-grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(5, minmax(100px, 1fr));
    grid-gap: 10px;
    place-items: stretch stretch;
}

.portfolio-grid-item {
    border: 1px solid var(--primary-black);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

.portfolio-grid-item a::after {
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.portfolio-grid-item:hover.portfolio-grid-item a::after{
    opacity: 1;
}

.portfolio-grid-item a {
    text-decoration: none;
    color: var(--primary-white);
    background-color: rgba(45, 45, 45, 0.6);
    width: 70%;
    padding: 5px 0 5px 5px;
}

.portfolio-grid-item h4, .portfolio-grid-item h5 {
    font-weight: normal;
}

.portfolio-grid-item h5 {
    margin-top: 5px;
}
.portfolio-grid-item p {
    font-weight: lighter;
    font-size: 15px;
}

.portfolio-grid-item.whr {
    grid-column: 1/ span 3;
    grid-row: 1/ span 4;
    background-image: url(../images/portfolio/screen-shot-whr.png);
}

.portfolio-grid-item.dintel {
    grid-row: 1/ span 2;
    background-image: url(../images/portfolio/logo-dintel.png);
}

.portfolio-grid-item.belly-button {
    grid-row: 3/ span 2;
    background-image: url(../images/portfolio/screen-shot-belly-button.png);
}

.portfolio-grid-item.usgs {
    background-image: url(../images/portfolio/screen-shot-usgs.png);
}

.portfolio-grid-item.d3times {
    background-image: url(../images/portfolio/screen-shot-d3times.png);
}

.portfolio-grid-item.ufo {
    background-image: url(../images/portfolio/nasa.jpg);
}

.portfolio-grid-item.run-buddy {
    background-image: url(../images/portfolio/screen-shot-run-buddy.png);
}

/* styles for the "Contact" section */
.contact-info {

}

/* MEDIA QUERY FOR SCREENS 1700px WIDE OR MORE */
@media screen and (min-width: 1700px) {
    .hero-title h3 {
        width: 700px;
        font-size: 3vw;
    }
}
/* MEDIA QUERY FOR SCREENS 1400px WIDE OR LESS */
@media screen and (max-width: 1400px) {
    .portfolio-grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
/* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 990px) {
    header h1 {
        width: 35%;
        padding-right: 0;
    }
    header nav ul li a {
        padding: 10px 10px;
    }
    .greeting {
        flex: -1 20%;
    }
    .greeting-img {
        background-image: url(../images/pic_sandrine_200wide.jpg);
        min-height: 250px;
        min-width: 200px;
    }
    .hero-title h3 {
        width: 400px;
    }
    .portfolio-grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
    .portfolio-grid-item.whr {
        grid-column: 1/ span 2;
        grid-row: 1/ span 2;
    }
    .portfolio-grid-item.dintel {
        grid-column: 1/ span 2;
        grid-row: 3/ span 2;
    }
    .portfolio-grid-item.belly-button {
        grid-column: 1/ span 2;
        grid-row: 5/ span 2;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    header h1 {
        width: 30%;
    }
    header nav ul li a {
        font-size: 15px;
        margin: 0 20px;
        padding: 5px;
    }
    .greeting-img::after {
        content: none;
    }
    .hero-title h3 {
        width: 250px;
    }
    .portfolio-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }
    .portfolio-grid-item.whr {
        grid-column: 1/ span 1;
        grid-row: 1/ span 1;
    }
    .portfolio-grid-item.dintel {
        grid-column: 1/ span 1;
        grid-row: 2/ span 1;
    }
    .portfolio-grid-item.belly-button {
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
        align-items: right;
        justify-content: flex-end;
        padding: 0;
    }
    header h1 {
        width: 100%;
        padding: 5px;
        text-align: center;
        border-top-right-radius: 0px;
        font-size: x-large;
        font-weight: bold;
    }
    header nav {
        width: 100%;
    }
    header nav ul li a {
        font-weight: normal;
        margin: 0 auto;
        padding: 0 auto;
        border-bottom: none;
    }
    header nav ul li a:hover {
        color: var(--orange3);
        text-shadow: none;
    }
    .hero {
        justify-content: center;
    }
    .hero-title {
        display: block;
    }
    .hero-title h3 {
        margin: 20px 0 0 0;
        padding: 5px 5px;
        font-size: 6vw;
        text-align: center;
        width: 100%;
    }
    .hero-title-2 {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #and {
        margin-right: 5px;
    }
    #webdev, #datanal, #and, #viz {
        transition: none;
    }
}
