:root {
    --greyish-white: #e2e2e2;
    --dark-grey: #2d2d2d;
    --yellow-rb: #fce138;
    --orange1: #ffc515;
    --orange2: #f58449;
    --orange3: #f36e39;
    --red1: #ef3c23;
    --red2: #ee2925;
    --red3: #cf1f3e;
    --pink1: #ee3586;
    --pink2: #da4498;
    --pink3: #b43794;
    --pink4: #9c51a0;
    --blue1: #69cdec;
    --blue2: #3a91cf;
    --blue3: #3d5aa9;
    --blue4: #4b54a4;
    --brown: #c67029;
    --green1: #bad532;
    --green2: #92c83e;
    --green-chip: #028c7e;
    --sapphire1: #56c3bc;
    --sapphire2: #61c6c4;
    --sapphire1-rb: #39a6b2;
    --sapphire2-rb: #024e76;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general styles and utility classes */
body {
    /*font-size: 22px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: var(--greyish-white);
    color: var(--dark-grey);
}

section {
    padding: 60px;
}

.section-title {
    font-size: 55px;
    font-weight: lighter;
    text-align: right;
    padding: 0 50px;
    border-right: 3px solid;
    border-color: var(--dark-grey);
}

/* styles for the header */
header {
    background-color: var(--dark-grey);
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    background-color: var(--greyish-white);
    margin: 0;
    text-align: right;
    padding-left: 60px;
    padding-right: 10px;
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--greyish-white);
}

header h1 a {
    color: var(--dark-grey);
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 22px;
    margin: 0 30px;
}

/* styles for the footer */
footer {
    background-color: var(--dark-grey);
    color: var(--greyish-white);
    width: 100%;
    padding: 30px;
    text-align: center;
}

footer h2 {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 5px;
}

footer div {
    line-height: 1.5;
}

/* styles for the hero */
.hero {
    background-image: url("../images/bg_microchip.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero h3 {
    position: absolute;
}

#web {
    color: var(--orange1);
}

#dev {
    color: var(--orange2);
}

#web, #dev {
    bottom: 200px;
}

#data {
    color: var(--blue1);
}

#analysis {
    color: var(--blue2);
}

#and {
    color: var(--brown);
}

#viz {
    color: var(--green2);
}

/* styles for the "About Me" section */
